<div class="parent">
<div class="profile">
    <div class="pic">
        <img src="/clauss.jpeg" class="exampleProfile">
        <h2>Tonya Clauss, DVM</h2>
        <h4>Senior Director of Animal Health</h4>
    </div>
    <div>
        <p>&#9993; tclauss@example.com</p>
        <p>&#9742; 404-555-8972</p>
        <p>&#9998; Edit</p>
    </div>
</div>
<div class="allMovesContent">
<h2>New Exhibit Move</h2>
<form method="POST" action="/exhibit" class="newMoveForm">
    {{!-- Dropdown menu for animal type --}}
    <label for="type">Type</label>
      <select name="type" value="Select...">
        <option value="Birds">Birds</option>
        <option value="Fish">Fish</option>
        <option value="Invertebrates">Invertebrates</option>
        <option value="Mammals">Mammals</option>
        <option value="Sharks & Rays">Sharks & Rays</option>
    </select>

    <label for="species">Species</label>
    <input type="text" name="species"/>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity"/>

    {{!-- Dropdown menu for exhibit list --}}
    <label for="exhibit">Exhibit</label>
      <select name="exhibit" value="Select...">
        <option value="Aquanaut Adventure">Aquanaut Adventure</option>
        <option value="Cold Water Quest">Cold Water Quest</option>
        <option value="Dolphin Coast">Dolphin Coast</option>
        <option value="Ocean Voyager">Ocean Voyager</option>
        <option value="River Scout">River Scout</option>
        <option value="Pier 225">Pier 225</option>
        <option value="Tropical Diver">Tropical Diver</option>
        <option value="Infirmary">Infirmary</option>
    </select>

    <label for="date">Date</label>
    <input type="date" name="date"/>

        {{!-- Dropdown menu for status --}}
    <label for="status">Status</label>
      <select name="status" value="Select...">
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="Shelved">Shelved</option>
        <option value="Completed">Completed</option>
    </select>

            {{!-- Dropdown menu for priority --}}
    <label for="priority">Priority</label>
       <select name="priority" value="Select..."> 
        <option value="Urgent">P1</option>
        <option value="High">P2</option>
        <option value="Medium">P3</option>
        <option value="Low">P4</option>
    </select>

    <input type="submit" value="Submit" class="submitNewMove"/>
</form>
<form method="GET" action="/exhibit">
    <input type="submit" value="&#8592; Back to Main List" />
</form>
</div>
</div> 