<div class="homeImage">
<h1 class="dashboardTitle">Manager Dashboard</h1>
<div class="icon-container">
        <div class="homeIcons">
            <img src="desktop.jpg" class="widget">
            <a href="https://www.georgiaaquarium.org/">
                <h2>Main Site</h2>
            </a>
        </div>
        <div class="homeIcons">
            <img src="calendar.jpg" class="widget">
            <a href="">
                <h2>Calendar</h2>
            </a>
        </div>
        <div class="homeIcons">
            <img src="zoom.png" class="widget zoomIcon">
            <a href="https://zoom.us/">
                <h2>Zoom</h2>
            </a>
        </div>
        <div class="homeIcons">
            <img src="money.png" class="widget moneyIcon">
            <a href="">
                <h2>Payroll</h2>
            </a>
        </div>
</div>
<h1 class="highlightedTitle">Highlighted Features</h1>
<div class="icon-container">
        <div class="homeIcons highlighted">
            <img src="seahorse.png" class="widget moneyIcon">
            <a href="/exhibit">
                <h2>Exhibits</h2>
            </a>
        </div>
        <div class="homeIcons highlighted">
            <img src="construction.png" class="widget">
            <a href="">
                <h2>Construction</h2>
            </a>
        </div>
        <div class="homeIcons highlighted">
            <img src="events.jpg" class="widget moneyIcon">
            <a href="/events">
                <h2>Events</h2>
            </a>
        </div>
        <div class="homeIcons highlighted">
            <img src="feedback.png" class="widget moneyIcon">
            <a href="/feedback">
                <h2>Feedback</h2>
            </a>
        </div>
        <div class="homeIcons highlighted">
            <img src="happy.png" class="widget moneyIcon">
            <a href="">
                <h2>Social</h2>
            </a>
        </div>
</div>
</div>