/* main css styling for header and footer */
body,html {
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: 'Livvic', sans-serif;
}

/* GA Aquarium title */
.ga{
    display: flex;
    padding: 0 0 10px 10px;
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: #4E7D91;
    justify-content: space-between;
    height: 70px;
}

/* dashboard,account and directory */
.headerDiv{
    display: flex;
    background-color:#5F6291;
    margin-right: -10px;
}

/* dashboard,account and directory text*/
h3{
    margin: 18px 0;
    padding-left: 25px;
}

/*Manager's portal font*/
h1{
    font-family: 'Livvic', sans-serif;
    font-style: italic;
    letter-spacing: .83px;
}

.headerDiv a{
    color: white;
    text-decoration: none;
    padding: 0 38px 0 0;
}

.headerDiv a:hover{
    background-color: rgb(100, 130, 143);
    color: black;
}

/*sticky nav bar for easy access to data pages*/
.nav{
    display: flex;
    background-color: rgb(58, 82, 92);
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    top: 0;
    height: 40px;
    padding-right: 30px;
    font-size: 13pt;
    width: 100vw;
}

.nav a{
    color: white;
    padding: 14px 23px;
    text-decoration: none;
    text-align: center;
    border-left: 1px solid  #3f3d36;
}

.nav a:hover {
    background-color: #999688;
    color: white;
    border-top: 1px solid #999688;
}

.map{
    width:auto; 
    height: 270px;
    margin-left: 30px;
}

footer{
    background-color:rgb(49, 78, 90);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
}
.logo{
    width: 250px;
    height: auto;
    object-fit: cover;
}


.socialMedia{
    display: flex;
    vertical-align: baseline;
    justify-content: space-evenly;
}

/* social media icon links */
.icons{
    width: auto;
    height: 30px;
}

.icons:hover{
    filter: invert(35%) sepia(13%) saturate(3207%) hue-rotate(10deg) brightness(95%) contrast(100%);
}

.privacyPolicy{
    color: white;
    line-height: 8px;
    font-size: 10pt;
    padding-left: 12px;
}

.privacyPolicy a{
    text-decoration: none;
    color: white;
}

.privacyPolicy a:hover{
    color: goldenrod;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.mission{
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    color: white;
}

.slogan{
    font-size: 14pt;
    margin-top: 18px;
    color: white;
    line-height: 22px;
    width: 400px;
    margin-bottom: -8px;
}

.mission a{
    text-decoration: none;
    color: white;
    line-height: 0px;
    font-size: 10pt;
}

.mission a:hover{
    color: goldenrod;
}

.allMovesContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12px;
}
/*Styling newMove button*/

.newMoveButton{
    border-radius:50%;
    cursor: pointer;
    background-color:#999688;
	color:white;
	font-size:28px;
	padding:4px 12px;
	text-decoration:none;
    float: left;
    margin: 5px 15px 5px 5px;
}

.newMoveButton:hover{
    background-color: #3d768a;
}

/*Visited anchor links; remove purple default*/
td a:visited{ 
    text-decoration: none; 
    color:white;
}
td a{
    color: white;
}

/* styling for allMoves.hbs */

table {
    border-collapse: collapse;
    width: 100%;
}

.allMovesTable{
    margin: 0 0 20px 0;
    border-radius: 10px;
    overflow-x: auto;
}

.allMovesColumns{
    padding: 2px 6px;
    text-align: center;
}

th{
    background-color: rgb(49, 78, 90);
    color: black;
    font-weight: 900;
    line-height: 25px;
    font-size: 13pt;
}

td{
    padding: 2px 6px;
    text-align: center;
    font-size: 14pt;
    border-bottom: 1px solid #ddd;
}

td a{
    text-decoration: none;
}

/*Every other row is a difefrent color in table*/
tbody tr:nth-child(even){
    background-color: rgb(107, 141, 156);
}

tbody tr:nth-child(odd){
    background-color: rgb(71, 121, 143);
}

 /*when hovering over the item, the row highlights*/
tr:hover td{
    background-color: #999688;
}

/*parent code for profile and table layout*/

.parent{
    width: 100vw;
    position: relative;
    z-index: 200;
    display: flex;
}

.profile{
    width: 280px;
    border-right: 1px solid #212121;
    padding: 0 14px;
    background-color: #5F6291;
    text-align: center;
}

.profile h2{
    color: white;
}
.exampleProfile{
    width: 230px;
    border-radius: 45%;
    margin-top: 15px;
}

/*Styling the table headers forthe single move page*/
.singleMoveTable th{
    color: white;
}
/*styling new move form*/
.newMoveForm{
    display: flex;
    flex-direction: column;
}
.newMoveForm label{
    font-size: 14pt;
    padding: 10px 10px 5px 0px;
    color:#3d768a;
}

.newMoveForm select{
    font-size: 12pt;
    width: 100px;
    cursor: pointer;
}

.newMoveForm input{
    font-size: 12pt;
    width: 200px;
}
.submitNewMove{
    font-size: 12pt;
    margin-top: 30px;
    cursor: pointer;
    color:rgb(49, 78, 90);
}

/*Styling the  homepage*/

.homeImage{
    width: 100vw;
}